static var dateLoaded = new Date();

$ var name = 'Frank';
$ name = name.toUpperCase();
$ console.log(name);

<div>
  Hello ${name}!
</div>
<p>
  This template was loaded at ${dateLoaded.toString()}
</p>
