$ var personPromise = new Promise((resolve, reject) => {
  setTimeout(function() {
    resolve({
      name: 'Frank'
    });
  }, 1000);
});

<await(person from personPromise)>
  <div>Hello ${person.name}!</div>
</await>
