static var myArray = [1, 2, 3, 4, 5];

<!-- Loop from 0 to 10 -->
<ul>
  <li for(i from 0 to 10)>
    ${i}
  </li>
</ul>

<!-- Loop from 0 to 10 but have a step of 2 -->
<ul>
  <li for(i from 0 to 10 step 2)>
    ${i}
  </li>
</ul>

<!-- Loop from 0 to the end of the array -->
<ul>
  <li for(i from 0 to myArray.length-1)>
    ${myArray[i]}
  </li>
</ul>
