<div>
  Hello ${input.name}!
  <if(input.renderBody)>
    <div>
      <if(typeof input.renderBody === "string")>${input.renderBody}</if>
      <else>
        <${input.renderBody}/>
      </else>
    </div>
  </if>
</div>
